ResearchStatement.aux
ResearchStatement.fdb_latexmk
ResearchStatement.fls
ResearchStatement.log
ResearchStatement.out
ResearchStatement.pdf
ResearchStatement.synctex.gz
ResearchStatement.bbl
ResearchStatement.blg
ResearchStatement.pdf

